@media screen and (max-width: 429px) {
	#header {
		height: 146px;
	}
	#inner-header {
		height: 145px;
	}
	#headerbar {
		width: 100%;
		height: 140px;
		text-align: center;
	}
	.headerseparator {
		display: none;
	}
	.headerbuttonleft {
		display: inline-block;
	}
	.headerbutton {
		display: block;
		border-right: 0;
	}
	.thumbnailbg {
		width: 80%;
	}
	.video {
		width: 90%;
	}
	.videoinfo {
		width: 90%;
	}
}
@media screen and (min-width: 430px) and (max-width: 749px) {
	#header {
		height: 41px;
	}
	#inner-header {
		height: 40px;
	}
	#headerbar {
		width: 430px;
		height: 35px;
	}
	.headerseparator {
		display: inline-block;
	}
	.headerbutton, .headerbuttonleft {
		display: inline-block;
	}
	.headerbutton {
		border-right: 1px solid #222;
	}
	.thumbnailbg {
		width: 320px;
	}
	.video {
		width: 350px;
	}
	.videoinfo {
		width: 350px;
	}
}
@media screen and (min-width: 750px) {
	#header {
		height: 41px;
	}
	#inner-header {
		height: 40px;
	}
	#headerbar {
		width: 430px;
		height: 35px;
	}
	.headerseparator {
		display: inline-block;
	}
	.headerbutton, .headerbuttonleft {
		display: inline-block;
	}
	.headerbutton {
		border-right: 1px solid #222;
	}
	.thumbnailbg {
		width: 320px;
	}
	.video {
		width: 700px;
	}
	.videoinfo {
		width: 350px;
	}
}
* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	color: #ccc;
}
body {
	background: #333;
}
#header {
	padding-top: 5px;
	border-bottom: 1px solid #444;
}
#inner-header {
	border-bottom: 1px solid #222;
}
#headerbar {
	margin-left: auto;
	margin-right: auto;
	font-size: 0px;
}
.headertext {
	display: inline;
	line-height: 35px;
}
.headerbutton, .headerbuttonleft {
	margin-left: 5px;
	height: 35px;
	vertical-align: middle;
	font-size: 16px;
}
.headerbutton {
	padding: 0 10px;
	margin-left: 0;
}
.headerbutton:last-child {
	border-right: 0;
}
.headerseparator {
	width: 50px;
}
a {
	text-decoration: none;
}
a:hover, a:hover span {
	color: #fff;
}
#content {
	text-align: center;
	display: table-cell;
	padding-top: 5px;
}
.video, .thumbnailbg, .videoinfo {
	display: inline-block;
}
.thumbnailbg {
	background: url("/images/thumbnail_border.png") no-repeat 0/100%;
	padding: 10px;
}
.thumbnailbg img {
	width: 100%;
}
.videoinfo {
	text-align: left;
}
.video {
	background-color: #444;
	padding: 5px;
	margin: 10px;
	border-radius: 10px;
}
.video:hover {
	background-color: #555;
}